body {
  background-color: #a7d6af;
}
li {
  display: inline;
}
p {
  font-family: "Roboto", sans-serif;
}

P {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
